/* Write your CSS here */
.team-matches-route-container {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.RCB {
  background: linear-gradient(to bottom, #a4261d, #1e293b);
}

.KKR {
  background: linear-gradient(to bottom, #5755a7, #1e293b);
}

.KXIP {
  background: linear-gradient(to bottom, #d91c1f, #1e293b);
}

.CSK {
  background: linear-gradient(to bottom, #f7db00, #1e293b);
}

.RR {
  background: linear-gradient(to bottom, #da237b, #1e293b);
}

.MI {
  background: linear-gradient(to bottom, #13418b, #1e293b);
}

.SRH {
  background: linear-gradient(to bottom, #f26d22, #1e293b);
}

.DC {
  background: linear-gradient(to bottom, #4f5db0, #1e293b);
}

.team-matches-container {
  width: 90%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-banner {
  width: 100%;
  margin-bottom: 24px;
}

.latest-matches-heading {
  color: #ffffff;
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  align-self: flex-start;
  margin-bottom: 16px;
}

.recent-matches-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-left: 0;
  list-style-type: none;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
